# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data science
+ List popular integrated develpment enviroments
+ Test basic Python Arithmetics

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. plotly
4. scikit-learn

|Data Science Tools|
|:----------------:|
|Spyder|
|R Studio|
|Visual studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
time_m = 200
time_h = time_m / 60
time_h

3.3333333333333335

## Author
Luis Miguel Casado DÃ­az